/hacker-rank/30-days/day1/nbproject/private/
/hacker-rank/30-days/day1/build/
/hacker-rank/30-days/taxCalculator/nbproject/private/
/hacker-rank/30-days/calendar/nbproject/private/
/hacker-rank/30-days/CalendarPractice/nbproject/private/
/hacker-rank/30-days/CalendarPractice/build/
/hacker-rank/30-days/ReverseArray/nbproject/private/
/hacker-rank/30-days/ArrayPractice/nbproject/private/
/hacker-rank/30-days/ArrayPractice/build/
/hacker-rank/30-days/JavaApplication8/nbproject/private/
/hacker-rank/30-days/106demoEventsFields/nbproject/private/
/hacker-rank/30-days/PurpleRain/nbproject/private/
/hacker-rank/30-days/PurpleRain/build/